<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue</title>
</head>
<body>
	<div id="app">
		<!-- Impressão de variável simples -->
		<h1>{{texto}}</h1>
		<!-- Condicional, avalia se status é true ou false -->
		<h2 v-if="status">{{personagem}}</h2>
		<h2 v-else>Status é false</h2><br>
		<!-- Pegando informações do objeto -->
		<h1>Info do personagem</h1>
		<ul>
			<li v-for="(char,index) in personagem">
				Índice : {{index}}<br>
				Nome : {{char.nome}}<br>
				Idade : {{char.idade}}<br><br>
			</li>
		</ul>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				texto: "Começando com Vue!",

				status:true,

				personagem:[
					{ nome: "Gon Freecs",idade: "11" },
					{ nome: "Killua Zaoldyeck",idade: "12" },
				]
			}
		});
	</script>
</body>
</html>